<!DOCTYPE html>
<html>

<body>
    <section data-ng-controller="BooksListCntl as cntl">
        <h2>Books List</h2>

        <div class="row">
           <div class="form-group col-md-3">
               <label for="tileInputId">Title:</label>
               <input id="tileInputId" data-ng-model="cntl.searchParameters.title" class="form-control"
                      placeholder="Title..."/>
           </div>
           <div class="form-group col-md-3">
               <label for="authorInputId">Author:</label>
               <input id="authorInputId" data-ng-model="cntl.searchParameters.author" class="form-control"
                      placeholder="Author..."/>
           </div>
       </div>
       <div class="form-group">
           <button class="btn btn-primary" data-ng-click="cntl.search()">Search</button>
       </div>


        <div data-ng-show="cntl.resultsFound()" class="ng-cloak">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Author</th>
                                <th>Genre</th>
                                <th>Year</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="book in cntl.books" data-ng-click="cntl.selectRow($index)" data-ng-class="{'active': $index === cntl.selectedRowIndex}">
                                <td data-ng-bind="book.title"></td>
                                <td data-ng-bind="book.author"></td>
                                <td data-ng-bind="book.genre"></td>
                                <td data-ng-bind="book.year"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="row">
                <div class="form-group">
                    <div class="col-md-12">
                        <button class="btn btn-default" data-ng-disabled="cntl.isDisabled()" data-ng-click="cntl.editBook()">Edit</button>
                        <button class="btn btn-default" data-ng-click="cntl.addBook()">Add</button>
                        <button class="btn btn-default" data-ng-disabled="cntl.isDisabled()" data-ng-click="cntl.delete()">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>
