<!DOCTYPE html>
<html>
<body>
<section>
    <h2>Search for books...</h2>

    <form>
        <div class="row">
            <div class="form-group col-md-3">
                <label for="tileInputId">Title:</label>
                <input id="tileInputId" data-ng-model="searchParameters.title" class="form-control"
                       placeholder="Title..."/>
            </div>
            <div class="form-group col-md-3">
                <label for="authorInputId">Author:</label>
                <input id="authorInputId" data-ng-model="searchParameters.author" class="form-control"
                       placeholder="Author..."/>
            </div>
        </div>
        <div class="row col-md-12">
            <div class="form-group">
                <button class="btn btn-primary" data-ng-click="search()">Search</button>
            </div>
        </div>

        <div data-ng-show="resultsFound()" class="ng-cloak">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover table-bordered">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Author</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="book in books" data-ng-click="selectRow($index)" data-ng-class="{'selected-row': $index === selectedRowIndex}">
                            <td data-ng-bind="book.title"></td>
                            <td data-ng-bind="book.author"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="row">
                <div class="form-group">
                    <div class="col-md-12">
                        <button class="btn btn-default" data-ng-click="editBook()" data-ng-disabled="isDisabled()">
                            Edit
                        </button>
                        <button class="btn btn-default" data-ng-click="addBook()">Add</button>
                        <button class="btn btn-default" data-ng-disabled="isDisabled()" data-ng-click="deleteBook()">
                            Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

</body>
</html>
