<!DOCTYPE html>
<html>
<body>
<div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title">Edit book</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="editForm">
            <div class="form-group"
                 data-ng-class="{'has-error': editForm.titleInput.$invalid}">
                <label for="titleInput" class="col-md-2 control-label">Title:</label>

                <div class="col-md-10">
                    <input class="form-control"
                           id="titleInput"
                           name="titleInput"
                           data-ng-model="book.title"
                           placeholder="Enter title..."
                           maxlength="50"
                           data-ng-required="true"/>
                </div>
            </div>
            <div class="form-group"
                 data-ng-class="{'has-error': editForm.authorInput.$invalid}">
                <label for="authorInput" class="col-md-2 control-label">Author:</label>

                <div class="col-md-10">
                    <input class="form-control"
                           id="authorInput"
                           name="authorInput"
                           data-ng-model="book.author"
                           placeholder="Enter author..."
                           maxlength="50"
                           data-ng-required="true"/>
                </div>
            </div>
            <div class="form-group"
                 data-ng-class="{'has-error': editForm.yearInput.$invalid}">
                <label for="yearInput" class="col-md-2 control-label">Year:</label>

                <div class="col-md-10">
                    <input class="form-control"
                           id="yearInput"
                           name="yearInput"
                           data-ng-model="book.year"
                           placeholder="Enter year..."
                           maxlength="4"
                           data-ng-required="true"/>
                </div>
            </div>
            <div class="form-group"
                 data-ng-class="{'has-error': editForm.genreInput.$invalid}">
                <label for="genreInput" class="col-md-2 control-label">Genre:</label>

                <div class="col-md-10">
                    <input class="form-control"
                           id="genreInput"
                           name="genreInput"
                           data-ng-model="book.genre"
                           placeholder="Enter genre..."
                           maxlength="30"
                           data-ng-required="true"/>
                </div>
            </div>

        </form>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" data-ng-click="editBook()" data-ng-disabled="isFormInvalid()">Edit</button>
        <button class="btn btn-warning" data-ng-click="cancel()">Cancel</button>
    </div>

</div>

</body>
</html>
